<% if @post.nil? || @post.length == 0 %>
<div class="jumbotron d-flex justify-content-center align-items-center flex-column">
  <div class="text-break text-center"><h1>No memes today :<</h1><div>
  <img class="img-fluid" src="<%=asset_path('not_found/anime_no_memes.gif')%>" alt="When no memes">
</div>
<% else %>
  <% @post.each do |post| %>
    <%= render './partial_layouts/post', resource: post %>
  <% end %>
<% end %>