<div class="container mt-1 pb-1 pt-1">
  <div class="col-md-6 shadow-lg d-flex justify-content-center align-items-center border flex-column">
    <div class="col-md-6  border d-flex justify-content-center">
      <img class="img-fluid" src="https://i.kym-cdn.com/photos/images/original/002/000/962/309.gif" width="150" height="150">
    </div>
    <div class="col-md-6 text-center">
      <h3><%=@user.username%></h3>
    </div>
  </div>
  <div class="col-md-12 d-flex justify-content-center">
    <%= link_to 'ExitðŸšª', destroy_user_session_path, method: :delete, class: "btn btn-danger mr-1"%>
    <%= link_to 'Editâœï¸', edit_user_registration_path, class: "btn btn-success ml-1"%>
  </div>
</div>