<div class="col-md-12 m-2">
  <div class="col-md-12 d-flex border rounded align-items-center flex-column">
    <div class="col-md-12">
      <div class="text-break"><h3><%= @post.title.nil? == true ? "" : @post.title %></h3></div>
    </div>
    <div class="col-md-12">
      <div class="text-break text-right"><%= link_to @post.user.username, user_path(@post.user) %> </div>
    </div>
    <div class="col-md-12">
      <div class="text-break"><p><%= @post.body %> </p></div>
    </div>
    <div class="col-md-12">
      <div class="text-break text-left"><p style="font-size: 9px;"><%=@post.created_at%></p></div>
    </div>
  </div>
</div>